body {
	border: 3px solid grey;
	border-radius: 25px;
	margin-left: 150px;
	margin-right: 150px;
	margin-top: 30x;
	background-color: black;
	font-family: verdana;
}

h1 {
	text-align: center;
}

#input1 {
	margin-left:  15px;
	text-align: left;
	font-family: verdana;
	font-size: 18px;
	
}

.input1{
	margin-left:  200px;
}

#input2 {
	margin-left:  15px;
	text-align: left;

	font-family: verdana;
	font-size: 18px;
}

.input2{
	margin-left:  125px;
}


#input3 {
	margin-left:  15px;
	text-align: left;

	font-family: verdana;
	font-size: 18px;
}

.input3{
	margin-left:  100px;
}

#input4 {
	margin-left:  15px;
	text-align: left;

	font-family: verdana;
	font-size: 18px;
}

.input4{
	margin-left:  150px;
}

#input5 {
	margin-left:  115px;
	text-align: left;

	font-family: verdana;
	font-size: 18px;
}

.input5{
	margin-left:  20px;
}

#input9 {
	margin-left:  15px;
	text-align: left;
	font-family: verdana;
	font-size: 18px;
	
}

.input9{
	margin-left:  165px;
}

#input6 {
	margin-left:  235px;
	text-align: left;

	font-family: verdana;
	font-size: 18px;
}

.input6{
	margin-left:  51px;
}

#input10 {
	margin-left:  15px;
	text-align: left;
	font-family: verdana;
	font-size: 18px;
}

.input10{
	margin-left:  165px;
	border: none;
    border-bottom: 2px solid white;
    background-color: transparent;
}

#input7 {
	margin-left:  210px;
	text-align: left;

	font-family: verdana;
	font-size: 18px;
}

.input7{
	margin-left:  30px;
}

#input11 {
	margin-left:  15px;
	text-align: left;

	font-family: verdana;
	font-size: 18px;
}

.input11{
	margin-left:  145px;
}

#input8 {
	margin-left:  113px;
	text-align: left;

	font-family: verdana;
	font-size: 18px;
}

.input8{
	margin-left:  30px;
}

#input12 {
	margin-left:  15px;
	text-align: left;
	font-family: verdana;
	font-size: 18px;
	
}

.input12{
	margin-left:  128px;
}

#input13 {
	margin-left:  15px;
	text-align: left;
	font-family: verdana;
	font-size: 18px;
	
}

.input13{
	margin-left:  120px;
}

#input14 {
	margin-left:  15px;
	text-align: left;
	font-family: verdana;
	font-size: 18px;
	
}

.input14{
	margin-left:  184px;
}

#input15 {
	margin-left:  15px;
	text-align: left;
	font-family: verdana;
	font-size: 18px;
	
}

.input15{
	margin-left:  27px;
}

#input16 {
	margin-left:  15px;
	text-align: left;
	font-family: verdana;
	font-size: 18px;
	
}


h2 {
	text-align: center;
	font-family: verdana;
}

#input17 {
	margin-left:  15px;
	text-align: left;
	font-family: verdana;
	font-size: 18px;
	
}

.input17{
	margin-left:  160px;
}

#input20 {
	margin-left:  50px;
	text-align: left;
	font-family: verdana;
	font-size: 18px;
	
}

.input20{
	margin-left:  27px;
}

#input18 {
	margin-left:  15px;
	text-align: left;
	font-family: verdana;
	font-size: 18px;
	
}

.input18{
	margin-left:  157px;
}

#input21 {
	margin-left:  50px;
	text-align: left;
	font-family: verdana;
	font-size: 18px;
	
}

.input21{
	margin-left:  27px;
}

#input19 {
	margin-left:  15px;
	text-align: left;
	font-family: verdana;
	font-size: 18px;
	
}

.input19 {
	margin-left:  189px;
}

#input22 {
	margin-left:  50px;
	text-align: left;
	font-family: verdana;
	font-size: 18px;
	
}

.input22{
	margin-left:  27px;
}

#input23 {
	margin-left:  15px;
	text-align: left;
	font-family: verdana;
	font-size: 18px;
	
}

.input23{
	margin-left:  193px;
}

#input24 {
	margin-left:  15px;
	text-align: left;
	font-family: verdana;
	font-size: 18px;
	
}

.input24{
	margin-left:  152px;

}

.submit {
    background-color: lightgray;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 450px;
}




input[type=text] {
	width: 25%;
	border: none;
    border-bottom: 2px solid white;
    background-color: transparent;
}

input[type=number] {
	width: 25%;
	border: none;
    border-bottom: 2px solid white;
    background-color: transparent;
}

input[type=date] {
	width: 25%;
	border: none;
    border-bottom: 2px solid white;
    background-color: transparent;
}

input[type=select] {
	width: 25%;
	border: none;
    border-bottom: 2px solid white;
    background-color: transparent;
}



